{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:@typescript-eslint/recommended", "prettier"],
  "plugins": ["react", "@typescript-eslint", "prettier"],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "endOfLine": "auto",
        "trailingComma": "none",
        "printWidth": 140,
        "semi": false,
        "singleQuote": true,
        "jsxSingleQuote": true,
        "arrowParens": "avoid"
      }
    ],
    "semi": "off",
    "@typescript-eslint/semi": ["warn", "never"],
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-empty-function": 0
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "c:\\users\\mikae\\vscodeprojects\\shakki\\client\\tsconfig.json"
  }
}
