@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

body {
  margin: 0;
}

.hover-button:hover {
  background-color: #3f51b5;
  cursor: pointer;
}

$chess-board-dark: #8ca2ad;
$chess-board-light: #dee3e6;


